
  
  body,.login-div {
    background-color: #fff' 
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: rgba(15, 15, 15, 0.65);
    overflow: auto;
    position: fixed; 
    z-index: 1;
  }
  .navbar2 {
    width: 100%;
    background-color: rgba(15, 15, 15, 0.65);
    overflow: auto;
    position: absolute; 
    z-index: 1;
  }
  
  /* Navbar links */
  .navbar, a {
    float: left;
    /* display: left; */
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
   .navbar a:hover {
    background-color: orange;
    border-radius: 10px;
  }
  
  /* Current/active navbar link */
  .navbar .active {
    background-color: #04AA6D;
    border-radius: 10px;
  }
  
  .navbar .icon{
    display: none;
  }
  
  //nvabar responsive
  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: now;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  /* navbar javascript when user clicks on the icon */
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  

h1 {
    color: #009688;
    text-align: center;
    background-color: ;
    padding-bottom: 15px;
}
h3 {
    background-color: #009688;
    padding-bottom: 15px;

    color: white;
}
button {
    background: #009688;
    padding: 10px;  
    margin: 15px; 
}
#prevpage {
    color: white;
    font-weight: bold;
    font-size: 19px;
}

.col.s12 {
    margin: 10px;
}

.col.s6{
    font-size: 18px;
}


  









